/**************************************Tags*******************************/
body {
  margin: 0;
  text-align: center;
  font-family: "VT323", monospace;
  color: #40514E;
}

.top {
  background-color: #E8F9FD;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  position: relative;
  padding: 50px 0 20px;
}
.intro{
  width:30%;
  margin: auto;
}
.dev {
  text-decoration: underline;
}
.footer-link{
  color: #11999E;
  font-size: 30px;
}
.contact-me{
  margin: 50px auto;
  width: 50%;
}
h1 {
  font-size: 5.625rem;
  margin: 2.6rem auto 0 auto;
  font-family: "VT323", monospace;
  color: #66BFBF;
}
h2{
  font-size: 2.5rem;
  margin: 0;
  font-weight: normal;
  font-family: "VT323", monospace;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3{
  font-size: 2rem;
  margin: 0;
  ffont-family: "VT323", monospace;
  color: #11999E;
}
a{
  color:#11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
p{
  line-height: 2;
}
hr {
  border-style: dotted none none;
  border-width: 10px;
  border-color: #EAF6F6;
  width: 5%;
  margin: 100px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  top: 100px;
  right: 700px;
}

.bottom-cloud {
  position: absolute;
  top: 300px;
  left: 600px;
}
.mugshot {
  width: 10%;
}

.hacker {
  width: 15%;
  float:left;
  padding-right: 2rem;
}

.programmer {
  width: 15%;
  float: right;
  padding-left: 2rem;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "VT323", monospace;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copy{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
